<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ root_url }}/javascripts/mediaelement/mediaelement-and-player.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ root_url }}/javascripts/mediaelement/mediaelementplayer.css" />
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<!--<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

<!-- Place this tag in the <head> of your document -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'en'}</script>
<!-- G+ validation-->
<link href="https://plus.google.com/106834666485863668012" rel="publisher"/>
<script>
$('video,audio').mediaelementplayer({
    audioWidth: 500,
    audioHeight: 30,
    startVolume: 0.8
});
</script>
